<!-- <app-quiz [quizId]="48"></app-quiz> -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">name</th>
            <th scope="col">#questations</th>
            <th scope="col">Is Published</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let quiz of quizzes" (click)="edit(quiz)">
            <th scope="row">{{quiz.id}}</th>
            <td>{{quiz.name}}</td>
            <td>{{quiz.num}}</td>
            <td>{{quiz.published == 0? "Not published yet": "published at " + quiz.updated_at|timeAgo}}</td>
        </tr>
    </tbody>
</table>

<button class="btn btn-default" *ngIf="checkRole()"><a [routerLink]="['/quizzes/create']">Create Quiz</a></button>
<!-- <button class="btn btn-link"  (click)="edit(quiz)">Not published yet</button> -->