

<!-- <aw-wizard *ngIf="renderable">
    <aw-wizard-step  *ngFor="let q of [1,2,3]" stepTitle="questation">
        <app-evaluation [data]="q"></app-evaluation>
        <button type="button" awNextStep>Next Step</button>
        <button type="button" [awGoToStep]="{stepIndex: 2}">Go directly to third Step</button>
    </aw-wizard-step>
   
</aw-wizard> -->

    <!-- <app-evaluation [data]="quizId"></app-evaluation> -->

    <div *ngIf="!result">
        <div *ngIf="renderable">
            <app-evaluation (choosed)="evaluate($event)" *ngFor="let q of questations; let i=index;" [data]="q"
                [questationIndex]="i"></app-evaluation>
        </div>


        <button type="button" *ngIf="!renderable" (click)="startQuiz()" class="btn btn-info">Start Quiz</button>
        <button type="button" [disabled]="!canEvaluate" *ngIf="renderable" (click)="onFinish()"
            class="btn btn-info">Evaluate</button>
    </div>

    <div *ngIf="result">
        <app-result [grade]="finallGrade" [quizName]="quiz.name" [num]="quiz.num"></app-result>
    </div>
  
    